.fixed-action-btn {
  position: absolute;
}

.btn-floating.btn-large i {
  background: #f2f2f2;
  color: rebeccapurple;
}

.btn-floating.btn-large {
  border: 1px solid rebeccapurple;
}

.avatar {
  font-size: 13px;
}

.collection .collection-item.avatar {
  height: 95px;
}

.collection {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.avatar .title {
  font-size: 15px;
  color: rebeccapurple;
}

.icon-avatar {
  position: absolute;
  left: 0;
}

.icon-avatar i {
  font-size: 35px;
  margin-left: 19px;
  margin-top: 11px;
  color:#ffca28;
}

.box-search {
  margin-top: 40px;
}

.chip b {
  color: #2bbbad;
}


.xd-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 60px;
  background: #FFF;
  margin-bottom: 2rem;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.xd-message-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  margin: 0;
  margin-left: -1px;
}
.xd-message-content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-left: 1.5rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.xd-message-content p {
  padding: 0;
  margin: 0;
}
.xd-message-close {
  color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}
.xd-message-close .close-icon {
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}
.xd-message-close .close-icon:hover {
  color: #0b0e11;
}

.msg-danger {
  border: 1px solid #b05150;
}
.msg-danger .xd-message-icon {
  background: #b05150;
}
.msg-danger .xd-message-content,
.msg-danger .xd-message-close {
  color: #b05150;
}
.msg-danger .xd-message-close .close-icon:hover {
  color: #8d4140;
}

.msg-success {
  border: 1px solid #47ae74;
}
.msg-success .xd-message-icon {
  background: #47ae74;
}
.msg-success .xd-message-content,
.msg-success .xd-message-close {
  color: #47ae74;
}
.msg-success .xd-message-close .close-icon:hover {
  color: #388a5c;
}

.msg-warning {
  border: 1px solid #ef974b;
}
.msg-warning .xd-message-icon {
  background: #ef974b;
}
.msg-warning .xd-message-content,
.msg-warning .xd-message-close {
  color: #ef974b;
}
.msg-warning .xd-message-close .close-icon:hover {
  color: #eb7c1c;
}

.hide {
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: hideMsgAlert 1s;
          animation: hideMsgAlert 1s;
}

@-webkit-keyframes hideMsgAlert {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes hideMsgAlert {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 60%;
  }

  .xd-message-icon,
  .xd-message-close {
    font-size: 1rem;
  }

  .xd-message-content {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }

  .xd-message-icon,
  .xd-message-close {
    font-size: 1rem;
  }

  .xd-message-content {
    font-size: 0.8rem;
  }

  .heading span {
    display: none;
  }
}
