/* You can add global styles to this file, and also import other style files */
body {
  background: #f9f9f9;
}

.container-fluid {
  margin: 0px 10px;
}


.logo {
  width: 220px;
  margin: 14px;
  display: none;
}

.nav-pattern {
  background: darkslategray;  /* fallback for old browsers */
}
