/* You can add global styles to this file, and also import other style files */
body {
  background: #f9f9f9;
}

.container-fluid {
  margin: 0px 10px;
}

.logo {
  width: 220px;
  margin: 14px;
}

.nav-pattern {
  background: #00c3ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
